@import url((https://fonts.google.com/specimen/Outfit));

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page {
    width: 100%;
    height: 700px;
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    width: 320px;
    height: 497px;
    border-radius: 20px;  
    
}

#imgQR img{
    width: 288px;
    height: 288px;
    border-radius: 20px;
    display: block;
    margin: 15px;   
}

#text {
    text-align: center;
    width: 288px;
    height: 129px;
    margin-right: auto;
    margin-left: auto;   
}

#text h3 {
    font-weight: 700;
    padding: 10px 20px;
    color: hsl(218, 44%, 22%);
    
}

#text p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 5px 26px;
}